@model Magazin_Online.Models.Utilizator

@{
    ViewData["Title"] = "Edit";
}
<h1>Profil</h1>

<h4>Utilizator</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="form-control">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group mr-3">
                <label asp-for="Nume" class="control-label mr-1"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group mr-3">
                <label asp-for="Prenume" class="control-label mr-1"></label>
                <input asp-for="Prenume" class="form-control" />
                <span asp-validation-for="Prenume" class="text-danger"></span>
            </div>
            <div class="form-group mr-3">
                <label asp-for="Email" class="control-label mr-1"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mr-3">
                <label asp-for="Adresa" class="control-label mr-1"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group mr-3">
                <label asp-for="Oras" class="control-label mr-1"></label>
                <select asp-for="Oras" class="form-control">
                    <option value="">Selectează orasul</option>
                    @foreach (var oras in Enum.GetValues(typeof(Magazin_Online.Data.Enums.Orase)))
                    {
                        <option value="@((int)oras)" class="form-control">@oras</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Telefon" class="control-label mr-1"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Salveaza</button>
        </form>
    </div>
</div>
<form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-control">
    <div class="form-group mr-3">
        <label for="currentPassword" class="control-label mr-1">Parola curentă:</label>
        <input type="password" class="form-control" id="currentPassword" name="currentPassword">
    </div>
    <div class="form-group mr-3">
        <label for="newPassword" class="control-label mr-1">Parola nouă:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword">
    </div>
    <div class="form-group mb-3">
        <label for="confirmPassword" class="control-label mr-1">Confirmă parola nouă:</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Schimbă parola</button>
</form>
