@model Magazin_Online.Data.ViewModels.ProdusVM
@using Magazin_Online.Data.Enums

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Denumire" class="control-label"></label>
                <input asp-for="Denumire" class="form-control" />
                <span asp-validation-for="Denumire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Categorie">Categorie:</label>
                <select class="form-control" asp-for="Categorie" required>
                    <option value="">Selectează categoria</option>
                    @foreach (var categ in Enum.GetValues(typeof(CategorieProdus)))
                    {
                        <option value="@categ">@categ</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="Categorie"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pret" class="control-label"></label>
                <input asp-for="Pret" class="form-control" />
                <span asp-validation-for="Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriere" class="control-label"></label>
                <input asp-for="Descriere" class="form-control" />
                <span asp-validation-for="Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nr_buc" class="control-label"></label>
                <input asp-for="Nr_buc" class="form-control" />
                <span asp-validation-for="Nr_buc" class="text-danger"></span>
            </div>
            <div class="form-group mr-3">
                <label asp-for="Localitate" class="control-label mr-1"></label>
                <select asp-for="Localitate" class="form-control">
                    <option value="">Selectează orasul</option>
                    @foreach (var oras in Enum.GetValues(typeof(Magazin_Online.Data.Enums.Orase)))
                    {
                        <option value="@((int)oras)" class="form-control">@oras</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-secondary " asp-action="MyProducts">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
