@{
    ViewData["Title"] = "Centru de Suport";
}

<h1>@ViewData["Title"]</h1>

<h2>Contact</h2>

<p>Pentru orice întrebări, probleme sau feedback, vă rugăm să ne contactați. Suntem aici pentru a vă ajuta!</p>

<h2>Metode de Contact</h2>

<ul>
    <li><strong>Telefon:</strong> 1234567890</li>
    <li><strong>E-mail:</strong> suport@magazinonline.ro</li>
    <li><strong>Adresă:</strong> Aleea strandului</li>
</ul>

<h2>Ore de Funcționare</h2>

<p>Centrul nostru de suport este disponibil pentru dumneavoastră în următoarele ore:</p>

<ul>
    <li><strong>Luni - Vineri:</strong> 8:00 - 18:00</li>
    <li><strong>Sâmbătă:</strong> 9:00 - 14:00</li>
    <li><strong>Duminică:</strong> Închis</li>
</ul>

<p>Pentru urgențe sau probleme care necesită asistență imediată în afara acestor ore, vă rugăm să ne contactați la [numărul de telefon de urgență] pentru suport 24/7.</p>

<h2>Întrebări Frecvente</h2>

<p>Aici sunt răspunsuri la câteva întrebări frecvente pe care le primim:</p>

<p>
    <strong>1. Cum pot să plasez o comandă?</strong><br />
    Pentru a plasa o comandă, trebuie să accesați pagina de produse, să selectați produsele dorite și să completați procesul de checkout.
</p>

<p>
    <strong>2. Care sunt opțiunile de plată disponibile?</strong><br />
    Acceptăm plăți cu card de credit/debit și plata la livrare pentru comenzile efectuate online.
</p>

<p>
    <strong>3. Cât timp durează să primești o comandă?</strong><br />
    Timpul de livrare depinde de locația dumneavoastră și de disponibilitatea produselor. De obicei, comenzile sunt livrate în termen de 3-5 zile lucrătoare.
</p>

<p>Dacă întrebarea dumneavoastră nu se regăsește aici, vă rugăm să ne contactați și vom fi bucuroși să vă ajutăm.</p>
